<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3" class="page-header">
        <h2>My Messages</h2>
      </th>
    </tr>
    <tr>
      <th>Avatar</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>

  </thead>
  <tbody>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <tr>
          <td><%= link_to (image_tag recipient.avatar.url, size: "50x50"), user_path(recipient) %></td>
          <td><%= recipient.full_name %></td>
          <td><%= link_to "View Message", conversation_messages_path(conversation) %></td>
        </tr>
      <% end %>
    <% end%>
  </tbody>
</table>