

<div class="row">
  <div class="col-md-4">
    <%= image_tag @user.avatar.url, size: "200x200", class: 'img-responsive' %>
    <h3>Contact: </h3>
    <p><%= @user.email %></p>
    <p>(123)456-7890</p>
  </div>
  <div class="col-md-8">
    <h2><%= @user.full_name %></h2>
    <h4>Office Monitoring @ Democratic Headquarters </h4>
    <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Washington, DC</p>
    <br>

    <p><strong>Current Projects</strong></p>
    <p><i>Watergate Auditory Network Keeping Electronic Records</i></p>
    <p>W.A.N.K.E.R. is a system that preserves audio records by converting them to a digital format. My goal is to create a system that prevents audio tapes from being wiped or missing valuable data by converting them to digital formats. Currently, my system is still in alpha stage. I am looking for other entreprenuers who can help me build a working W.A.N.K.E.R. prototype. 
    </p>
    <br>

    <p><strong>Looking for...</strong></p>
    <p>Expert in analogue to digital audio conversion</p>
    <br>
  </div>
  <div class="col-md-12">
    <br>
    <h3><strong>Experience</strong></h3>
    <p><i>Not a Crook</i> January 20, 1961 – Present</p>
    <p><i>President of United States</i> January 20, 1953 – January 20, 1961</p>
    <p><i>State Senator California</i> December 4, 1950 – January 1, 1953</p>
    <br>
    <h3><strong>Education</strong></h3>
    <p><i>Duke University</i> September 1934 - June 1937</p>
    <p><i>Harvard University</i> September 1930 - June 1933</p>
  </div>
  <div class="col-md-12">
    <br>
    <p><%= link_to "Back", my_friends_path, class: "btn btn-primary" %></p>
  </div>
</div>



