<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @friend.full_name %>! <%= @user.full_name %> has accepted your friend request.</p>
  </body>
</html>